backend/src/.DS_Store
/backend/.idea
backend/src/main/resources/application-dev.properties
/backend/target
infra/terraform/terraform.tfvars
infra/terraform/terraform.tfvars.example
infra/*/*.tfstate
infra/*/tfplan
infra/terraform/.terraform/providers/*
infra/terraform/.terraform.lock.hcl
infra/.DS_Store
.DS_Store
infra/terraform/envs/dev/bk_review_plan
infra/terraform/bkreview_plan
*.tfstate.backup
*.tfstate
infra/terraform/envs/dev/.terraform/*
infra/terraform/envs/dev/.terraform.lock.hcl
frontend/package-lock.json
